<!-- <p>
  perfil works!
</p> -->

<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<!-- <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />  -->

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     <div class="form-group ">
      <label class="control-label " for="nome">
       Nome
      </label>
      <input class="form-control" id="nome" name="nome" type="text" value="Nomeeeeeeeeeee eeeeeee" disabled/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       E-mail
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" name="email" type="text" value="haha@huhu.lala" disabled/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="cidade">
       Cidade
      </label>
      <input class="form-control" id="cidade" name="cidade" type="text" value="Hellcife" disabled/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="msg">
       Bio
      </label>
      <textarea class="form-control" cols="40" id="msg" name="msg" rows="10" disabled>
Lorem ipsum turpis adipiscing class erat curae cursus ultrices, aptent sollicitudin tempor vivamus sem nam phasellus, class habitant accumsan vel cras etiam scelerisque. convallis faucibus ultrices varius lacinia sapien interdum nec, tempor laoreet ligula auctor placerat sem odio phasellus, blandit bibendum rhoncus aliquet mollis felis. malesuada interdum suspendisse nullam habitant aliquam porttitor faucibus aenean suspendisse felis imperdiet nibh, class lacus justo praesent porttitor suscipit turpis urna mollis eu. at donec bibendum lorem diam nec sagittis aliquam senectus tortor torquent velit magna aenean consequat vestibulum, vulputate erat felis nunc id convallis donec neque pharetra turpis sit maecenas sollicitudin suspendisse. 

Dui libero proin taciti tellus tristique diam volutpat pellentesque tellus ultrices, purus elit arcu himenaeos etiam quisque est curae in sapien, accumsan primis at mi sodales risus mi aliquam consequat. commodo cursus est sodales conubia urna nisl libero molestie, tristique aliquet ligula est morbi nisi mattis rutrum ac, sagittis fames augue facilisis vulputate eget egestas. donec tempor molestie curabitur integer netus ornare quisque habitant sodales, arcu cursus pretium aptent at ante ullamcorper quam, class malesuada vestibulum aliquam nullam litora ultricies molestie. imperdiet fusce tempor turpis fames sodales integer sapien cursus sit in lorem ultricies augue, non condimentum accumsan quis litora gravida venenatis urna tempor vivamus ligula. 
      </textarea>
     </div>
     <div class="form-group">
      <div>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
