<div>
  <p>
    <a routerLink="/" type="button" role="button" class="btn btn-primary" style="width:150px">Home</a>
  </p>
  <p>
    <a routerLink="/profile" type="button" role="button" class="btn btn-primary" style="width:150px">Perfil</a>
  </p>
  <p>
    <a routerLink="/settings" type="button" role="button" class="btn btn-primary" style="width:150px">Configurações</a>
  </p>
  <p>
    <a routerLink="/maps" type="button" role="button" class="btn btn-primary" style="width:150px">Localização</a>
  </p>
</div>