<!-- EMBEDAR STREAM RESPONSIVAMENTE, VER ESSE LINK PARA MUDAR ASPECT RATIO -->
<!-- https://getbootstrap.com/docs/4.1/utilities/embed/ -->

<div class="row">
  <div class="col-sm-7">
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9" style="text-align: center; ">
      <!-- width="560" height="315" -->
      <iframe class="embed-responsive-item" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-sm-5">

    <!-- INI DESCRICAO: OBTIDO AQUI https://bootsnipp.com/snippets/featured/flat-user-profile-ui-->
    <div class="col-sm-12">
      <!-- <h3>Nicole Pearson</h3> -->
      <p><strong>Endereço: </strong> Av. Caxangá, 123, Iputinga, Recife - PE </p>
      <p><strong>Identificador: </strong> A5F221S5S485 </p>
      <p><strong>Mantido por: </strong> CTTU</p>
      <p><strong>keywords: </strong></p>
      <p>
        <span class="tags">iputinga</span>
        <span class="tags">cttu</span>
        <span class="tags">recife</span>
        <span class="tags">publico</span>
      </p>
    </div>
    <!-- FIM DESCRICAO -->
  </div>
</div>