<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brinkation</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="navbarTop" name="navbarTop">
        <li id="li-home"><a href="/home">Home</a></li>
        <li id="li-perfil"><a routerLink="/profile">Perfil</a></li>
        <li id="li-settings"><a routerLink="/settings">Configurações</a></li>
        <li id="li-maps"><a routerLink="/maps">Localização</a></li>
      </ul>
    </div>
  </div>
</div>